.App-title {
  color: #6B3670;
  font-weight: bold;
  text-align: center;
}

.input-error {
  color: red;
}

ul {
  list-style-type: none;
}

.shop-name {
  width: 12em;
  float: left;
  clear: left;
}

.shop-postcode {
  width: 8em;
  float: left;
}

.shop-distance {
  width: 6em;
  float: left;
  text-align: right;
}
