.App-title {
  color: #6B3670;
  font-weight: bold;
  text-align: center;
}

.input-error {
  color: red;
}

.non-final-result {
  color: gray;
}

ul {
  list-style-type: none;
}

li {
  width: 31em;
}

.shop-name {
  width: 12em;
  float: left;
  clear: left;
}

.shop-postcode {
  width: 8em;
  float: left;
}

.shop-distance {
  width: 4em;
  float: left;
  text-align: right;
}

.shop-google-distance {
  width: 4em;
  float: left;
  text-align: right;
}

.shop-google-duration {
  width: 7em;
  float: left;
  text-align: right;
}
