.App {
  text-align: center;
}

.App-header {
  background-color: #6B3670;
  height: 150px;
  padding: 20px;
  font-family: serif;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
